@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
.line-chart {
  width: 60%;
  padding-left: 70px;
}

@media (max-width: 414px) {
  .line-chart {
    display: none;
  }
}
